.section {
  padding: 60px 5%;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 40px;
}

.title {
  font-size: 48px;
  font-weight: 700;
  letter-spacing: -1px;
  margin: 0;
  font-family: var(--font-space);
}
/* VIEW ALL BUTTON */
.viewAllWrapper {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.viewAll {
  position: absolute;
  right: 60px;
  background: black;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 11px;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  font-family: var(--font-jakarta);
}

.grid {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding-bottom: 10px;
}

.grid::-webkit-scrollbar {
  display: none;
}

.cardWrapper {
  width: 280px; /* 🔥 fixed size like old cards */
  flex-shrink: 0;
}

.navButtons {
  position: absolute;
  right: 0;
  display: flex;
  gap: 10px;
}

.navButtons button {
  background: black;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 6px;
}

@media (max-width: 1024px) {
  .cardWrapper {
    min-width: calc(50% - 10px); /* 2 cards */
  }
}

@media (max-width: 460px) {
  @media (max-width: 460px) {
    .cardWrapper {
      width: 180px;
    }
  }
}

/* ===================== */
/* TABLET */
/* ===================== */

@media (max-width: 1024px) {
  .title {
    font-size: 36px;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* ===================== */
/* SMALL TABLET */
/* ===================== */

@media (max-width: 720px) {
  .header {
    flex-direction: column;
    gap: 20px;
  }

  .viewAll {
    position: static;
  }

  .title {
    font-size: 32px;
    text-align: center;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
}

/* ===================== */
/* MOBILE */
/* ===================== */

@media (max-width: 460px) {
  .section {
    padding: 40px 16px;
  }

  .title {
    font-size: 22px;
    padding: 12px 22px;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 14px;
  }
  .viewAllWrapper {
    margin-top: 25px;
  }

  .viewAll {
    font-size: 12px;
    padding: 10px 20px;
    border-radius: 10px;
  }
}
